name: 'Chunk Grammar'
scopeName: 'source.chunkgrammar'
type: 'tree-sitter'
parser: 'tree-sitter-chunk-grammar'
fileTypes: ['chk']

comments:
  start: '# '

scopes:
  '"("': 'variable.other.object.property'
  '")"': 'variable.other.object.property'
  'anonymous_capturing_group': 'variable.other.object.property'
  'non_capturing_group': 'variable.other.object.property'
  'lookahead_assertion': 'variable.other.object.property'

  'iob_tag': 'constant.numeric'
  'chunk_rule': 'constant.numeric'
  'chink_rule': 'constant.numeric'
  'split_rule': 'constant.numeric'
  'merge_rule': 'constant.numeric'

  'word_tag': 'entity.other.inherited-class'

  'term': 'variable.parameter.function'

  'backreference_escape': 'string.quoted'

  'disjunction': 'keyword.other'
  'start_assertion': 'keyword.other'
  'end_assertion': 'keyword.other'
  'boundary_assertion': 'keyword.other'
  'non_boundary_assertion': 'keyword.other'
  'character_class': 'keyword.other'

  'any_character': 'entity.name.function'
  'zero_or_more': 'entity.name.function'
  'one_or_more': 'entity.name.function'
  'optional': 'entity.name.function'

  'comment': 'comment.line'
